<!-- LOGIN PART -->
<div class="loggin-screen" ng-hide="garden_logged">
	<div class="waiting" ng-hide="browser_support"><img src="img/ripple.svg"></img></div>
	<div class="loggin" ng-show="browser_support">
		<div class="log-main" ng-show="!new_user">
			<h2>Inicia Sesión</h2>
			<img ng-src="{{checkImage()}}" ng-show="checkImage() != ''" class="preprofile"><br>
			<label>Usuario:</label>
			<input type="text" ng-model="sesion_nombre"></input>
			<label>Contraseña:</label>
			<input type="password" ng-model="sesion_pass"></input>

			<button ng-click="iniciar_sesion()">Iniciar Sesión</button> <button ng-click="new_user = true">Nuevo Usuario</button>
		</div>	
		<div class="log-main" ng-show="new_user">
			<h2>Nuevo Usuario</h2>
			<label>Correo:</label>
			<input type="email" ng-model="nuevo_usuario_email"></input>
			<label>Usuario:</label>
			<input type="text" ng-model="nuevo_usuario_nombre"></input>
			<label>Nombre de Jardín:</label>
			<input type="text" ng-model="nuevo_jardin_nombre"></input>
			<label>Contraseña:</label>
			<input type="password" ng-model="nuevo_usuario_pass"></input>
			<label>Repita la Contraseña:</label>
			<input type="password" ng-model="prueba_nuevo_usuario_pass"></input>
			<div ng-show="prueba_nuevo_usuario_pass != ''">
				<a ng-show="checkPassword()">La contraseña es correcta.</a>
				<a ng-hide="checkPassword()">La contraseña es incorrecta.</a>
			</div>
			<label>Localización:</label><br>
			<select name="country" class="countries order-alpha" id="countryId">
			    <option value="-1" selected>Selecciona el País</option>
			</select>
			<select name="state" class="states order-alpha" id="stateId">
			    <option value="-1" selected>Selecciona el Estado</option>
			</select>
			<select name="city" class="cities order-alpha" id="cityId">
			    <option value="-1" selected>Selecciona la Ciudad</option>
			</select>
			<label>Visibilidad:</label>
			<select ng-model="visibilidad">
				<option value="publico" selected>Público</option>
				<option value="privado">Privado</option>
			</select>
			<label ng-show="visibilidad != 'publico'">Pase de Turista:</label>
			<input ng-show="visibilidad != 'publico'" type="password" ng-model="pase_turista">
			<a>{{message}}</a><br>
			<button ng-click="registrar_usuario()">Registrar</button> <button ng-click="new_user = false">Usuario Existente</button>
		</div>	
	</div>
</div>

<!--_________________________________________________________________________________________________________________________ -->
<div class="black-screen z8" ng-class="{'active': nueva_seccion_abierto || nueva_planta_abierto || planta_abierto}" ng-click="black_screen_click_j()"></div>

<div class="black-screen z10" ng-class="{'active': new_bitacora}" ng-click="black_screen_click_j()"></div>


<!-- GARDEN PART -->
<div class="loading-screen" ng-show="loading_screen == true"><img src="img/gears.svg"><br><a>Cargando...</a></div>

<content ng-show="garden_logged" class="garden">
	<div class="nueva_bitacora_open z11" ng-hide="!new_bitacora_seccion">
		<button class="close-btn" ng-click="new_bitacora_seccion = false"><img class="close" src="img/close.png"></img></button>
		<h2>Nuevo Ingreso</h2>
		<h3>Fecha:</h3><input type="date" ng-model="bitacora_fecha"></input>
		<label>Bitácora:</label>
		<textarea ng-model="bitacora"></textarea>
		<button ng-click="nueva_bitacora_seccion(0)">Aceptar</button>
		<button ng-click="new_bitacora_seccion = false">Cancelar</button>
	</div>
	<button class="btn_op_sm" ng-click="toggle_sm()"><img src="img/configuration.png"></button>

	<nav class="op_sm_open" ng-show="op_sm">
		<ul>
			<li class="no-">
				<div class="untouchable">
					<img class="p_background" ng-src="{{current_profile.background_url}}">
					<h4>{{current_profile.usuario}}</h4>
					<img ng-src="{{current_profile.url}}">
					<a>"{{current_profile.jardin.nombre}}"</a>
				</div>
			</li>
			<li title="Haga cambios en su perfil." ui-sref="configuracion_perfil"">configuración</li>
			<li title="Haga click para cerrar sesión." ng-click="cerrar_sesion()">cerrar sesión</li>
		</ul>
	</nav>	
	
	<h1 class="garden-title">{{jardin.nombre}}</h1>

	<button ng-click="nueva_seccion_abierto = true" class="lenses p" title="Agregar nueva sección."><img src="img/new_section.png"></img></button>
	<button ng-class="{'disabled': jardin.no_secciones == 0}" ng-click="eliminar_seccion()" ng-show="current_profile.jardin.no_secciones > 0" class="lenses d" title="Remover la sección."><img src="img/delete-icon.png"></img></button>
	<button ng-show="current_profile.jardin.no_secciones > 0" ui-sref="tourist" class="lenses v" title="Visitar otro jardín."><img src="img/visit.png"></img></button>
	<button ng-show="current_profile.jardin.no_secciones > 0" ui-sref="calendar" class="lenses m" title="Ver calendario lunar."><img src="img/moon.png"></img></button>
	<button ng-show="current_profile.jardin.no_secciones > 0" class="lenses l" title="Acercarse." ng-click="zoom_in()"><img src="img/zoom_in.png"></img></button> 
	<button ng-show="current_profile.jardin.no_secciones > 0" class="lenses" title="Alejarse." ng-click="zoom_out()"><img src="img/zoom_out.png"></img></button>

	<section class="main-view" ng-class="{'red': jardin[seccion_actual].bg_number == 1, 'white': jardin[seccion_actual].bg_number == 0, 'blue': jardin[seccion_actual].bg_number == 2, 'green': jardin[seccion_actual].bg_number == 3, 'yellow': jardin[seccion_actual].bg_number == 4, 'pink': jardin[seccion_actual].bg_number == 5, 'gray': jardin[seccion_actual].bg_number == 6, 'orange': jardin[seccion_actual].bg_number == 7, 'brown': jardin[seccion_actual].bg_number == 8, 'purple': jardin[seccion_actual].bg_number == 9}">

		<div ng-show="nueva_seccion_abierto" class="new-section-form z9" ng-class="{'redlight':garden_bg_number == 1, 'white': garden_bg_number == 0, 'bluelight': garden_bg_number == 2, 'greenlight': garden_bg_number == 3, 'yellowlight':garden_bg_number == 4, 'pinklight': garden_bg_number == 5, 'graylight': garden_bg_number == 6, 'orangelight': garden_bg_number == 7, 'brownlight': garden_bg_number == 8, 'purplelight': garden_bg_number == 9}">
		<!--<button class="close-btn" ng-click="nueva_seccion_abierto = false"><img class="close" src="img/close.png"></img></button>-->
			<img class="doblez" src="img/doblez.png" ng-click="garden_bg_number_increase()"></img>
			<form>
				<h2>Nueva Sección</h2><br>
				<label>Nombre:</label>
				<input type="text" ng-model="nueva_seccion_nombre"></input><br><br>
				<label>Descripción:</label>
				<input type="text" ng-model="nueva_seccion_descripcion"></input><br><br>
				<label>Tipo:</label>
				<button ng-class="{'selected' : nueva_seccion_tipo == 'Interior'}" ng-click="nueva_seccion_tipo='Interior'"><img src="img/indoor.png"></img><span>Interior</span></button> 
				<button ng-class="{'selected' : nueva_seccion_tipo == 'Exterior'}" ng-click="nueva_seccion_tipo='Exterior'"><img src="img/outdoor.png"></img><span>Exterior</span></button><br><br>
				<label>Temperatura:</label>

				<br><label>Usar localización:<label><input type="checkbox" value="true" ng-model="localization" style="width: auto;
	margin: 0px 20px;" checked><br>
				<div ng-hide="localization">
					<label>Temperatura(promedio):</label>
					<input type="number" ng-model="nueva_seccion_temperatura" style="width: 15%;"></input><br>
				</div>
			</form>
			<button class="finish_btn" ng-click="nueva_seccion(0)">Aceptar</button><button class="finish_btn" ng-click="cancelar_seccion()">Cancelar</button>
		</div>
		<h2 ng-show="jardin.no_secciones == 0">Debes agregar una sección a tu jardín antes.</h2>


		<div ng-show="nueva_planta_abierto" class="nueva_planta z9">
		<button class="close-btn" ng-click="nueva_planta_abierto = false"><img class="close" src="img/close.png"></img></button>
			<h2>Nueva Planta #{{planta_seleccionada}}</h2>
			<h3>Fecha: {{today}}</h3>
			<div class="new_plant_form">
				<label>Nombre:</label>
				<input type="text" ng-model="nueva_planta_nombre"></input>
			</div>
			<div class="new_plant_form">
				<label>Especie:</label><br>
				<label class="sub">Filtro:</label>
				<input class="npla" type="text" ng-model="nueva_planta_pre"></input>
				<select class="nple" ng-model="nueva_planta_especie_filtro">
					<option value="nombre_comun">Nombre Común</option>
					<option value="especie">Especie</option>
					<option value="genero">Genero</option>
					<option value="familia">Familia</option>
					<option value="orden">Orden</option>
					<option value="clase">Clase</option>
					<option value="division">División</option>
				</select><br>
				<label class="sub">Selección:</label>
				<select ng-model="nueva_planta_especie">
					<option ng-repeat="opcion in database.Basic" ng-value="opcion.especie" ng-show="busca_especie(opcion)">{{opcion[nueva_planta_especie_filtro]}}</option>
				</select>
			</div>
			<div class="new_plant_form double">
				<label>Etapa:</label>
				<select ng-model="nueva_planta_etapa">
					<option value="semilla">Semilla</option>
					<option value="semilla">Plántula</option>
					<option value="semilla">Floración</option>
					<option value="semilla">Fruto</option>
				</select>
				<label>Lapso de Riego:</label>
				<input type="number" ng-model="nueva_planta_lapso_riego"></input>Horas
			</div>
			<div class="new_plant_form icon">
				<label>Icono:</label>
				<div class="icon_selection">
					<button class="icon-btn" ng-repeat="n in [1,2,3,4,5,6,7,8]" ng-class="{'selected' : check_icon_selection(n)}" ng-click="select_icono(n)"><img ng-src="{{geticonurl(n)}}"></img></button>
				</div>
			</div>
			<button ng-click="nueva_planta_aceptar()">Agregar</button><button ng-click="np_cancelar()">Cancelar</button>
		</div>

		<div class="nueva_bitacora_open z11" ng-hide="!new_bitacora">
			<button class="close-btn" ng-click="new_bitacora = false"><img class="close" src="img/close.png"></img></button>
			<h2>Nuevo Ingreso</h2>
			<h3>Fecha:</h3><input type="date" ng-model="bitacora_fecha"></input>
			<label>Bitácora:</label>
			<textarea ng-model="bitacora"></textarea>
			<button ng-click="nueva_bitacora(0)">Aceptar</button>
			<button ng-click="new_bitacora = false">Cancelar</button>
		</div>

		<div ng-show="planta_abierto" class="planta z9">
			<button class="close-btn" ng-click="planta_abierto = false"><img class="close" src="img/close.png"></img></button>
			<h2>{{jardin[seccion_actual][planta_seleccionada].nombre}}</h2>
			<h3>{{especie_provisional.especie}}</h3>
			<img ng-src="{{especie_provisional.pictures[0].url}}"></img>
			<div class="right">
				<h3>Fue agregada en: {{jardin[seccion_actual][planta_seleccionada].fecha}}</h3>
				<h3>Etapa: {{jardin[seccion_actual][planta_seleccionada].etapa}}</h3>
				<h3>Lapso de Riego: {{jardin[seccion_actual][planta_seleccionada].lapso_riego}}</h3>
			</div>
			<div class="seccion_baja">
				<button ng-click="seccion_baja = 'bitacora'" ng-class="{'selected': seccion_baja == 'bitacora'}"><img src="img/bitacora.png"></img></button>
				<button ng-click="seccion_baja = 'alarmas'" ng-class="{'selected': seccion_baja == 'alarmas'}"><img src="img/alarma.ico"></img></button>

				<div ng-show="seccion_baja == 'bitacora'" class="bitacora">
					<h2>Bitácora:</h2>
					<ul>
						<li ng-repeat="n in jardin[seccion_actual][planta_seleccionada].bitacora" ng-show="n.fecha != null">
							<a>{{n.fecha}}</a>
							<p>{{n.bitacora}}</p>
						</li>
					</ul>
					<button ng-click="new_bitacora = true" class="plus"><img src="img/plus.png"></img></button>
				</div>

				<div ng-show="seccion_baja == 'alarmas'" class="alarmas">
					<h2>Alarmas:</h2>
					<ul>
						<li></li>
					</ul>
					<button ng-click=""><img class="plus" src="img/plus.png"></img></button>
				</div>
			</div>
		</div>

		<div ng-hide="jardin.no_secciones == 0">
			<div class="row" ng-class="{'x2' : slot_size == 2, 'x4' : slot_size == 4}" ng-repeat="i in [1,2,3,4]"> 
				<div ng-repeat="slot in one" ng-click="select_slot(i + '' + slot)" class="slot" ng-class="{'active': jardin[seccion_actual][i + '' + slot] != null, 'x2' : slot_size == 2, 'x4' : slot_size == 4}">
					<span ng-show="jardin[seccion_actual][i + '' + slot] == null">Vacío</span>
					<div class="each-plant" ng-hide="jardin[seccion_actual][i + '' + slot] == null">
						<img ng-src="{{jardin[seccion_actual][i + '' + slot].icono}}"></img>
						<span>{{jardin[seccion_actual][i + '' + slot].nombre}}</span><br>
						<span>{{jardin[seccion_actual][i + '' + slot].especie}}</span>
					</div>
				</div> 
			</div>
		</div>

	</section>

	<section ng-show="jardin.no_secciones > 0" class="garden-info">
		<span class="seccion-tipo" ng-show="jardin[seccion_actual].tipo == 'Interior'"><img src="img/indoor.png"></span>
		<span class="seccion-tipo" ng-show="jardin[seccion_actual].tipo == 'Exterior'"><img src="img/outdoor.png"></span>

		<a class="arrows l" ng-click="left_section()" ng-show="seccion_actual > 0"><</a>
		<h2>{{jardin[seccion_actual].nombre}}</h2>
		<a class="arrows r" ng-click="rigth_section()" ng-show="seccion_actual < jardin.no_secciones - 1">></a>

		<a class="seccion-fecha">{{jardin[seccion_actual].fecha}}</a>
		<div class="seccion-section" style="width: 25%; margin-left: 2%;position: relative;top: -.9vh;">
			<div class="info-piece"><label>Temperatura:</label><h3> {{jardin.temperatura}}°C</h3></div>
			<div class="info-piece"><label>Clima:</label><h3> {{jardin.clima}}</h3></div>
			<div class="info-piece" ng-show="jardin[seccion_actual].temperatura != undefined"><label>Clima Interno:</label><h3> {{jardin[seccion_actual].temperatura}}°C</h3></div>
			<div class="info-piece"><label>No. de Plantas:</label><h3>{{jardin[seccion_actual].no_especies}}</h3></div>
			<img ng-attr-title="{{jardin.message}}" class="weatherico" ng-src="{{jardin.temp_url}}">
		</div>
		<div class="seccion-section" style="width: 67%;">
			<div style="width: 45px;display: inline-block; text-align: center;">
				<button title="Bitácora de la sección." ng-click="seccion_info_selected = 'bitacora'" class="seccion-section-btn" ng-class="{'active': seccion_info_selected == 'bitacora'}"><img src="img/bitacora.png"></img></button>
				<button title="Alarmas." ng-click="seccion_info_selected = 'alarma'" class="seccion-section-btn" ng-class="{'active': seccion_info_selected == 'alarma'}"><img src="img/alarma.ico"></img></button>
			</div>
			<ul class="class-text">
				<li ng-repeat="bitacora in jardin[seccion_actual].bitacora" ng-show="seccion_info_selected == 'bitacora' && jardin[seccion_actual].bitacora != undefined"><label>{{bitacora.fecha}}</label><p>{{bitacora.bitacora}}</p></li>
				<li ng-show="seccion_info_selected == 'alarma' && jardin[seccion_actual].alarmas == undefined">No hay ninguna alarma activa en {{jardin[seccion_actual].nombre}}.</li>
				<li ng-repeat="alarma in jardin[seccion_actual].alarmas" ng-show="seccion_info_selected == 'alarma' && alarma != undefined"><label>{{alarma.fecha}}</label><p>{{alarma.contenido}}</p></li>
			</ul>
		</div>
		<div class="seccion-section" style="width: 45px; position: relative;top: -9vh;">
			<button class="seccion-section-btn" ng-click="add_seccion_info()"><img src="img/plus.png"></img></button>
		</div>
	</section>
</content>

